@font-face {
    font-family: "Century Schoolbook Mono";
    src: url("https://cath.land/Century-Schoolbook-Monospace-BT.ttf")
}

@font-face {
    font-family: "Electra Cursive";
    src: url("https://cath.land/ElectraLTStd-Cursive.otf")
}

@font-face {
    font-family: "Authentic Sans Condensed 60";
    src: url("https://cath.land/authentic-sans-condensed-60.otf")
}

@font-face {
    font-family: "Authentic Sans 130";
    src: url("https://cath.land/authentic-sans-130.otf")
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}


body {
    background-color: #000;
    color: #fff;
    font-family: "Century Schoolbook Mono";
    line-height: 1.3rem;
}



.container {
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 3rem;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-weight: 400;
    max-width: 70rem;
    font-family: "Authentic Sans Condensed 60", Helvetica, Arial;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    max-width: 70rem;
}

em {
    font-style: italic;
    font-size: inherit;
}

strong {
    font-family: "Authentic Sans 130", Helvetica, Arial, sans-serif;
/*    font-size: 105%;*/
    font-size: inherit;
}

p {
    margin: 0 0 16px 0;
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 50rem;
}

ul {
    margin-left: 1rem;
    list-style: none;
    list-style-position: outside;
    max-width: 70rem;
    margin-bottom: 2rem;
}

li {
    margin-bottom: 1rem;
    text-indent: -5rem;
    padding-left: 5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}


ul li:before {
    content: "→";
    padding-right: 4rem;
}

section {
    width: 95vw;
    margin: auto;
    margin-bottom: 15rem;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
}

h1.number {
    font-family: "Authentic Sans Condensed 60", Helvetica, Arial, sans-serif;
    font-size: 5rem;
    line-height: 2.05rem;
}

.tooltip {
    position: relative;
    font-size: inherit;
    display: inline;
    cursor: pointer;
    border-bottom: .15rem dotted white;
}

.tooltip::after {
    content: attr(data-tooltip);
    display: table;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
    padding: .25rem .5rem; 
    box-sizing: border-box;
    min-width: max-content;   
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}


.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.log-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 8fr;
  gap: 1.25rem;
}

.wide-col {
    grid-column: 2 / 5;
}

.col-one {
    grid-column: 2;
}

.col

.two-col-left {
    grid-column: 2 / 4;
}

.two-col-right {
    grid-column: 4 / 5;
}

.grid-table {
    grid-column: 2 / 5; /* Position in your main grid */
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 8fr; /* Match your log scale! */
    gap: 1rem;
}

.grid-table thead,
.grid-table tbody {
    display: contents; /* Makes tr direct grid children */
}

.grid-table tr {
    display: contents; /* Makes td/th direct grid children */
}

.grid-table td {
    padding-bottom: 1rem;
}

/*.grid-table th,
.grid-table td {
    border: 1px solid #ccc;
    padding: 8px;
}*/


.card h1 {
    display: inline;
    background-color: black;
    padding: .25rem .75rem;
}

#one-thesis {
    background-image: url("powerlines2.jpg");

}

#two-intervention {
    background-image: url("warehouse.jpg");

}


#three-whatittakes {
    background-image: url("warehouse2.jpg");

}


.filter {

}

.portrait {
    width: 350px;
}

@media (max-width: 500px) {
    section {
        width: 95%;
    }

    h1 {
        font-size: 1rem;
    }

    section.card {
        height: 40vh;
        background-size: 103% auto;
    }

    section.card h1 {
        padding: .25rem .75rem;
    }
}
